<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Discotex", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="header">
      <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="#">Discotex</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%= if @current_user do %>
            <ul class="navbar-nav right">
              <li class="nav-item dropdown">

                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-test="current_user">
                  <%= @current_user.name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link "Logout", to: Routes.auth_path(@conn, :delete), method: "delete", class: "dropdown-item" %>
                </div>
              </li>
            </ul>
          <% else %>
            <div class="navbar-nav">
              <%= link to: Routes.auth_path(@conn, :index, :github), class: "nav-item nav-link", "data-test": "login" do %>
                Login with <i class="fab fa-github fa-2x" style="vertical-align: middle; padding-left: 3px;"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
